html {
    height:100%;
}
* {
    box-sizing:border-box;
    font-family:'Aleo'; 
}

body {
    position: relative;
    background-color:#F6EEE0;
    color:white;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #93B78F;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.project-name a {
    color:white;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    text-decoration: none; 
    color: inherit;
    font-family:'Aleo'; 
    font-size:25px;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
}


nav ul li {
    margin:0 1rem;
}

nav ul li a {
    color:white;
    text-decoration:none;
    font-size:25px;
    font-weight:bold;

}

.custom-section {
    background-image: url('../img/homepageart.jpg');
    background-size: 98%; 
    background-position: center; 
    min-height:500px;
}

header {
    color:#7B5F49;
    padding-top:1rem;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    position: absolute;
    margin:auto;
    top: 110px;
    left: 75px;
}

.header-content h1 {
    font-family:'Aleo';
    margin-bottom:0.5rem;
    font-weight:bold;
    text-align:center;
    font-size:70px;
}

.page-title h1 {
    margin: auto;
    width: 100%; 
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2.5rem;
    font-size:50px;
}


header h2 {
    font-family:'Aleo';
    margin-bottom:0.5rem ;
    font-weight:700;
    text-align:center;
}

header p {
    font-family:'Aleo';
    font-weight:bold;
    font-size:26px;
    position: absolute;
    top:255px;
    left:75px;
    margin-top:0.5rem;
    margin-bottom:1rem;
    margin-bottom:0.5rem;
}

section {
    font-family:'Aleo';
    font-size:20px;
}

.create {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    height: 65px;
    position: absolute;
    top: 340px;
    left: 133px;
    border-radius: 15px;
    border:0.5px solid #00000033;
    background-color:white; 
}

.create:hover{
    background-color: #7B5F49ff;
}

.create a {
    text-decoration: none;
    color: #7B5F49ff;
}

.create p {
    margin:0;
    font-family:'Aleo';
    font-size:20px;
    font-weight:700;
    color:#7B5F49;
}

.create:hover a {
    color: white;
}

#aboutus-page {
    color: #7B5F49ff;
}

.image-container img {
    width: 200px;
    margin-right: 40px;
    margin-left: 40px;
}

footer {
    margin-top: 60px;
    font-size: 16px;
    color:#7B5F49;
    text-align: center;
}

.form-box {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    text-align: center;
    background-color: #93B78F;
    border-radius: 10px;
    padding: 2rem;
}

form{
    align-items: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.person-container {
    display: inline-block;;
    margin-right: 10px;
}

.person-container img {
    width: 200px;
    margin-bottom: 20px;
}

.img-with-text {
    text-align: center;
    width: 200px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    height: 250px;
}

.img-with-text p {
    margin-top: 10px;
    font-weight: bold;
}

.img-with-text p:not(:first-child) {
    font-weight: normal;
}