html {
    height:100%;
}
* {
    box-sizing:border-box;
}

body {
    position: relative;
    background-color:#F6EEE04A;
    color:white;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #93B78F;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.project-name a {
    color:white;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    text-decoration: none; 
    color: inherit;
    font-family:'Aleo'; 
    font-size:25px;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
}


nav ul li {
    margin:0 1rem;
}

nav ul li a {
    color:white;
    text-decoration:none;
    font-size:25px;
    font-weight:bold;

}

.custom-section {
    background-image: url('../img/homepageart.jpg');
    background-size: 98%; 
    background-position: center; 
    min-height:500px;
}

header {
    color:#7B5F49; 
    padding-top:1rem;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 75px;
}

.header-content h1 {
    font-family:'Aleo';
    margin-bottom:0.5rem;
    font-weight:bold;
    text-align:center;
    font-size:70px;
}


header h2 {
    font-family:'Aleo';
    margin-bottom:0.5rem ;
    font-weight:700;
    text-align:center;
}

header p {
    font-family:'Aleo';
    font-weight:bold;
    font-size:26px;
    position: absolute;
    top:255px;
    left:75px;
    margin-top:0.5rem;
    margin-bottom:1rem;
    margin-bottom:0.5rem;
}

section {
    font-family:'Aleo';
    font-size:20px;
}

.create {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    height: 65px;
    position: absolute;
    top: 340px;
    left: 133px;
    border-radius: 15px;
    border:0.5px solid #00000033;
    background-color:white; 
}

.create p {
    margin:0;
    font-family:'Aleo';
    font-size:20px;
    font-weight:700;
    color:#7B5F49;
}
