html {
    height:100%;
}
* {
    box-sizing:border-box;
}

body {
    position: relative;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #93B78F;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.project-name {
    color:black;
    font-size:30px;
    font-weight:bold;
}

nav ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
}


nav ul li {
    margin:0 1rem;
}

nav ul li a {
    color:black;
    text-decoration:none;
    font-size:30px;
    font-weight:bold;

}

header {
    color:black; 
    font-family: 'Fraunces';
    font-size:75px;
    text-align:center;
}

header h1 {
    margin-bottom: 0.5rem;
    font-weight:700;
}

header p {
    font-family:'Poppins';
    font-size:25px;
    font-weight:600;
    margin-top:0.5rem;
}

.loginbutton {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70px;
    position: absolute;
    top: 285px;
    left: 231px;
    border-radius: 10px;
    border: 1px solid black; 
    background-color: #93B78F; 
}

.loginbutton p {
    margin:0;
    font-family:'Poppins';
    font-size:30px;
    font-weight:bold;
}

.create {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70px;
    position: absolute;
    top: 285px;
    left: 631px;
    border-radius: 10px;
    border: 1px solid black; 
    background-color: #93B78F; 
}

.create p {
    margin:0;
    font-family:'Poppins';
    font-size:25px;
    font-weight:bold;
}
